<h1>Hello Rails!</h1>
<p> Sign up <%= link_to "here", "#" %> </p>
<div class=jumbotron>
<center>
<h1>Strona domowa</h1>
<p><%= link_to "Login", "#", class: "btn btn-default" %> 

<%= link_to "Sign up", "#", class: "btn btn-primary" %>

</p>

</div>
</center>
